<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/gateway-json.log</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>http.method</includeMdcKeyName>
            <includeMdcKeyName>url.path</includeMdcKeyName>
            <includeMdcKeyName>duration_ms</includeMdcKeyName>
            <includeMdcKeyName>http.status_code</includeMdcKeyName>
            <includeMdcKeyName>log.type</includeMdcKeyName>
            <customFields>{"service_name":"gateway", "app_source":"msa-local"}</customFields>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>./logs/gateway-json.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="org.springframework.cloud.gateway.route.RouteDefinitionRouteLocator" level="WARN"/>
    <logger name="org.springframework.cloud.gateway.route.CachingRouteLocator" level="WARN"/>

    <logger name="com.netflix.discovery.shared.resolver.aws.ConfigClusterResolver" level="WARN"/>
    <logger name="org.springframework.cloud.netflix.eureka.http.RestTemplateEurekaHttpClient" level="WARN"/>

    <logger name="org.apache.catalina" level="WARN"/>
    <logger name="org.apache.coyote" level="WARN"/>
    <logger name="org.apache.tomcat" level="WARN"/>

    <logger name="org.springframework" level="WARN"/>
    <logger name="com.high.gateway" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/> <appender-ref ref="JSON_FILE"/> </root>
</configuration>